<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bezpieczny DBA -  Dashboard</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="css/plugins/timeline.css" rel="stylesheet" />
    <link href="css/sb-admin-2.css" rel="stylesheet" />
    <link href="css/plugins/morris.css" rel="stylesheet" />
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span th:if="${username.equals('user')}">
                <a class="navbar-brand" href="/">Bezpieczny DBA</a>
            </span>
            <span th:if="${username.equals('admin')}">
                <a class="navbar-brand" href="/">Bezpieczny DBA - <span th:text="${selectedDatabase}"></span></a>
            </span>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <span th:if="${username.equals('admin')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <span>Bazy danych</span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" id="available-databases"></ul>
                </span>
            </li>
            <li class="dropdown" th:if="${username.equals('user')}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <span>Zaloguj</span> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li style="padding: 10px 10px 10px 10px;">
                        <form role="form" name="form" th:action="@{/}" action="/" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nazwa użytkownika" name="username" type="text" autofocus="autofocus" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Hasło" name="password" type="password" value="" />
                                </div>
                                <input type="submit" id="login" value="Zaloguj" class="btn btn-primary btn-block" />
                            </fieldset>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="dropdown" th:if="${username.equals('admin')}">
                <a class="dropdown-toggle" th:href="@{/logout}">
                    <i class="fa fa-sign-out fa-fw"></i> <span>Wyloguj</span>
                </a>
            </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu"></ul>
            </div>
        </div>

    </nav>

    <div id="page-wrapper">

        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>

        <div class="row col-lg-12">
            <div class="alert alert-info" th:if="${param.logout}">Zostałeś poprawnie wylogowany.</div>
            <div class="alert alert-danger" th:if="${param.error}">Błąd logowania... Proszę spróbowac ponownie.</div>
        </div>

        <div id="status-container"></div>

        <div id="container-wrapper">
            <div class="row col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-tasks fa-fw"></i> <span th:text="${selectedDatabase}"></span>
                    </div>
                    <div class="panel-body" id="one-value-components-container"></div>
                </div>
            </div>

            <div id="plots-container" class="row"></div>
            <div id="grids-container" class="row"></div>
        </div>

    </div>

</div>

<script id="nav-link-template" type="text/x-jquery-tmpl">
    <li>
        <a class="${css}" href="#" data-hash="${hash}">${description}</a>
    </li>
</script>

<script id="one-value-template" type="text/x-jquery-tmpl">
    <div id="${hash}" class="list-group">
        <a href="#" class="list-group-item">
            <i class="fa fa-dashboard fa-fw"></i> ${data}
            <span class="pull-right text-muted small"><em>${description}</em></span>
        </a>
    </div>
</script>

<script id="plot-template" type="text/x-jquery-tmpl">
    <div id="${hash}" class="col-lg-${columns}">
        <div class="panel panel-default">
            <div class="panel-heading">${description}</div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="plot-${hash}"></div>
                </div>
            </div>

            <div class="more-details alert alert-info" style="display: none"></div>
            <div class="max-usage alert alert-info"></div>
        </div>
    </div>
</script>

<script id="grid-template" type="text/x-jquery-tmpl">
    <div id="${hash}" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">${description}</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="grid-${hash}">
                        <thead>
                            <tr>
                                {{each data.labels}}
                                    <th>${$value}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{each data.data}}
                                <tr>
                                    {{each $value}}
                                        <td>${$value}</td>
                                    {{/each}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="database-template" type="text/x-jquery-tmpl">
    <li><a href="#" data-name="{{= $data}}"><i class="fa fa-arrow-circle-right fa-fw"></i> {{= $data}}</a></li>
</script>

<script id="status-template" type="text/x-jquery-tmpl">
    <div id="${hash}" class="row">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ${database}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="left-plot-column col-lg-5">
                        </div>
                        <div class="col-lg-1">
                            <button class="btn ${cssClass} disabled" type="button">${status}</button>
                        </div>
                        <div class="right-plot-column col-lg-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/metisMenu.min.js"></script>
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/templates/jquery.tmpl.min.js"></script>
<script src="js/plugins/flot/excanvas.min.js"></script>
<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.pie.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="js/sb-admin-2.js"></script>
<script src="js/application.js"></script>

<script th:inline="javascript">
$(document).ready(function()
{
    var logged = [[${username.equals('admin')}]];
    var app = new dba.Application();
    app.run(logged);
});
</script>

</body>
</html>
