<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bezpieczny DBA - Login</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="css/sb-admin-2.css" rel="stylesheet" />
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel logowania</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" th:action="@{/login}" action="/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nazwa użytkownika" name="username" type="text" autofocus="autofocus" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Hasło" name="password" type="password" value="" />
                                </div>
                                <div class="form-group">
                                    <label>Dostępne bazy danych:</label>
                                    <div id="available-databases"></div>
                                </div>
                                <input type="submit" id="login" value="Zaloguj" class="btn btn-lg btn-success btn-block" />
                            </fieldset>
                        </form>
                        <form role="form" name="form" th:action="@{/login-limited-user}" action="/login-limited-user" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="database-hidden" name="database" type="hidden" />
                                </div>
                                <input type="submit" value="Darmowy użytkownik" class="btn btn-lg btn-primary btn-block" />
                            </fieldset>
                        </form>

                        <br />

                        <div class="alert alert-info" th:if="${param.logout}">Zostałeś poprawnie wylogowany.</div>
                        <div class="alert alert-danger" th:if="${param.error}">Błąd logowania... Proszę spróbowac ponownie.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="js/sb-admin-2.js"></script>
    <script src="js/plugins/templates/jquery.tmpl.min.js"></script>
    <script src="js/application.js"></script>

    <script id="database-template" type="text/x-jquery-tmpl">
        <div class="radio">
            <label>
                <input type="radio" name="database" value="{{= $data}}" /> {{= $data}}
            </label>
        </div>
    </script>

    <script>
    $(document).ready(function()
    {
        var app = new dba.Application();
        app.run();
    });
    </script>
</body>

</html>
